body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1316px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1139px;
  height:931px;
}
#u3944 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:90px;
  width:1138px;
  height:930px;
}
#u3944_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:58px;
}
#u3945 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:48px;
  width:1170px;
  height:57px;
}
#u3945_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:988px;
}
#u3946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:178px;
  height:987px;
}
#u3946_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:49px;
  overflow:hidden;
}
#u3947_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:49px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 153, 204, 1);
  background-image:none;
}
#u3947_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3947_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:49px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(52, 152, 219, 1);
  background-image:none;
}
#u3947_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3947_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:49px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(237, 110, 77, 1);
  background-image:none;
}
#u3947_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3947_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:49px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(250, 187, 61, 1);
  background-image:none;
}
#u3947_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3947_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:49px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 122, 179, 1);
  background-image:none;
}
#u3947_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3947_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:49px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(154, 208, 185, 1);
  background-image:none;
}
#u3947_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3947_state6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:49px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(234, 148, 190, 1);
  background-image:none;
}
#u3947_state6_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3947_state7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:49px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(193, 55, 74, 1);
  background-image:none;
}
#u3947_state7_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:1218px;
  height:3px;
  overflow:hidden;
}
#u3948_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1218px;
  height:3px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.2);
  background-image:none;
}
#u3948_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:47px;
}
#u3949 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:0px;
  width:177px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u3949_img.selected {
}
#u3949.selected {
}
#u3949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:177px;
  word-wrap:break-word;
}
#u3950 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u3951 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:63px;
  width:150px;
  height:29px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u3951_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:7px;
  width:120px;
  word-wrap:break-word;
}
#u3952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u3952 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:71px;
  width:13px;
  height:13px;
  font-size:12px;
  color:#666666;
}
#u3952_img.mouseOver {
}
#u3952.mouseOver {
}
#u3952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3953 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:104px;
  width:1132px;
  height:2px;
  overflow:hidden;
}
#u3953_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1132px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u3953_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:865px;
}
#u3954 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:93px;
  width:1px;
  height:864px;
}
#u3954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:48px;
}
#u3955 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:-1px;
  width:97px;
  height:47px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3955_img.mouseOver {
}
#u3955.mouseOver {
}
#u3955_img.selected {
}
#u3955.selected {
}
#u3955_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:93px;
  word-wrap:break-word;
}
#u3956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1131px;
  height:51px;
}
#u3956 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:130px;
  width:1130px;
  height:50px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
  line-height:28px;
}
#u3956_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:1108px;
  word-wrap:break-word;
}
#u3957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1126px;
  height:747px;
}
#u3957 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:180px;
  width:1125px;
  height:746px;
}
#u3957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u3958 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:144px;
  width:25px;
  height:25px;
}
#u3958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3959_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:57px;
  height:57px;
}
#u3959 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:6px;
  width:37px;
  height:37px;
}
#u3959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3960_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:81px;
  height:22px;
}
#u3960 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:72px;
  width:76px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u3960_img.selected {
}
#u3960.selected {
}
#u3960_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-1px;
  width:64px;
  word-wrap:break-word;
}
#u3961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u3961 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:71px;
  width:11px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u3961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u3962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
}
#u3962 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:71px;
  width:40px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u3962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u3964 {
  position:absolute;
  left:1px;
  top:650px;
}
#u3964_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:175px;
  height:195px;
  background-image:none;
}
#u3964_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:41px;
}
#u3966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
  color:#353535;
  text-align:left;
}
#u3966_img.selected {
}
#u3966.selected {
}
#u3966_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
#u3967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u3967 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:19px;
  width:9px;
  height:7px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u3968 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:15px;
  width:8px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3968_img.mouseOver {
}
#u3968.mouseOver {
}
#u3968_img.selected {
}
#u3968.selected {
}
#u3968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:31px;
}
#u3969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:71px;
  width:173px;
  height:30px;
  color:#353535;
  text-align:left;
}
#u3969_img.mouseOver {
}
#u3969.mouseOver {
}
#u3969_img.selected {
}
#u3969.selected {
}
#u3969_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u3970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:31px;
}
#u3970 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:101px;
  width:173px;
  height:30px;
  color:#353535;
  text-align:left;
}
#u3970_img.mouseOver {
}
#u3970.mouseOver {
}
#u3970_img.selected {
}
#u3970.selected {
}
#u3970_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u3971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:31px;
}
#u3971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:173px;
  height:30px;
  color:#353535;
  text-align:left;
}
#u3971_img.mouseOver {
}
#u3971.mouseOver {
}
#u3971_img.selected {
}
#u3971.selected {
}
#u3971_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u3972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
}
#u3972 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:131px;
  width:173px;
  height:21px;
  color:#353535;
  text-align:left;
}
#u3972_img.mouseOver {
}
#u3972.mouseOver {
}
#u3972_img.selected {
}
#u3972.selected {
}
#u3972_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u3973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
}
#u3973 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:152px;
  width:173px;
  height:21px;
  color:#353535;
  text-align:left;
}
#u3973_img.mouseOver {
}
#u3973.mouseOver {
}
#u3973_img.selected {
}
#u3973.selected {
}
#u3973_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u3974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
}
#u3974 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:173px;
  width:173px;
  height:21px;
  color:#353535;
  text-align:left;
}
#u3974_img.mouseOver {
}
#u3974.mouseOver {
}
#u3974_img.selected {
}
#u3974.selected {
}
#u3974_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u3964_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:174px;
  height:41px;
  visibility:hidden;
  background-image:none;
}
#u3964_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:41px;
}
#u3976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
  color:#353535;
  text-align:left;
}
#u3976_img.selected {
}
#u3976.selected {
}
#u3976_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
#u3977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u3977 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:19px;
  width:9px;
  height:7px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u3978 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:15px;
  width:8px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3978_img.mouseOver {
}
#u3978.mouseOver {
}
#u3978_img.selected {
}
#u3978.selected {
}
#u3978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:41px;
}
#u3980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:173px;
  height:40px;
  color:#353535;
  text-align:left;
}
#u3980_img.mouseOver {
}
#u3980.mouseOver {
}
#u3980_img.selected {
}
#u3980.selected {
}
#u3980_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
#u3981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u3981 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:124px;
  width:8px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3981_img.mouseOver {
}
#u3981.mouseOver {
}
#u3981_img.selected {
}
#u3981.selected {
}
#u3981_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3982 {
  position:absolute;
  left:1px;
  top:150px;
}
#u3982_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:174px;
  height:339px;
  background-image:none;
}
#u3982_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:31px;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:173px;
  width:173px;
  height:30px;
  color:#353535;
  text-align:left;
}
#u3983_img.mouseOver {
}
#u3983.mouseOver {
}
#u3983_img.selected {
}
#u3983.selected {
}
#u3983_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u3984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:31px;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:224px;
  width:173px;
  height:30px;
  color:#353535;
  text-align:left;
}
#u3984_img.mouseOver {
}
#u3984.mouseOver {
}
#u3984_img.selected {
}
#u3984.selected {
}
#u3984_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:41px;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
  color:#353535;
  text-align:left;
}
#u3986_img.selected {
}
#u3986.selected {
}
#u3986_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
#u3987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:19px;
  width:9px;
  height:7px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:14px;
  width:8px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3988_img.mouseOver {
}
#u3988.mouseOver {
}
#u3988_img.selected {
}
#u3988.selected {
}
#u3988_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:173px;
  height:21px;
  color:#353535;
  text-align:left;
}
#u3989_img.mouseOver {
}
#u3989.mouseOver {
}
#u3989_img.selected {
}
#u3989.selected {
}
#u3989_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:31px;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:173px;
  height:30px;
  color:#353535;
  text-align:left;
}
#u3991_img.mouseOver {
}
#u3991.mouseOver {
}
#u3991_img.selected {
}
#u3991.selected {
}
#u3991_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u3992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:254px;
  width:173px;
  height:21px;
  color:#353535;
  text-align:left;
}
#u3992_img.mouseOver {
}
#u3992.mouseOver {
}
#u3992_img.selected {
}
#u3992.selected {
}
#u3992_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u3993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:203px;
  width:173px;
  height:21px;
  color:#353535;
  text-align:left;
}
#u3993_img.mouseOver {
}
#u3993.mouseOver {
}
#u3993_img.selected {
}
#u3993.selected {
}
#u3993_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u3994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:31px;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:91px;
  width:173px;
  height:30px;
  color:#353535;
  text-align:left;
}
#u3994_img.mouseOver {
}
#u3994.mouseOver {
}
#u3994_img.selected {
}
#u3994.selected {
}
#u3994_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u3995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:121px;
  width:173px;
  height:21px;
  color:#353535;
  text-align:left;
}
#u3995_img.mouseOver {
}
#u3995.mouseOver {
}
#u3995_img.selected {
}
#u3995.selected {
}
#u3995_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u3996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:31px;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:143px;
  width:173px;
  height:30px;
  color:#353535;
  text-align:left;
}
#u3996_img.mouseOver {
}
#u3996.mouseOver {
}
#u3996_img.selected {
}
#u3996.selected {
}
#u3996_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u3997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:275px;
  width:173px;
  height:21px;
  color:#353535;
  text-align:left;
}
#u3997_img.mouseOver {
}
#u3997.mouseOver {
}
#u3997_img.selected {
}
#u3997.selected {
}
#u3997_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u3998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:296px;
  width:173px;
  height:21px;
  color:#353535;
  text-align:left;
}
#u3998_img.mouseOver {
}
#u3998.mouseOver {
}
#u3998_img.selected {
}
#u3998.selected {
}
#u3998_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u3999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:317px;
  width:173px;
  height:21px;
  color:#353535;
  text-align:left;
}
#u3999_img.mouseOver {
}
#u3999.mouseOver {
}
#u3999_img.selected {
}
#u3999.selected {
}
#u3999_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u3982_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:174px;
  height:41px;
  visibility:hidden;
  background-image:none;
}
#u3982_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:41px;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
  color:#353535;
  text-align:left;
}
#u4001_img.selected {
}
#u4001.selected {
}
#u4001_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
#u4002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:19px;
  width:9px;
  height:7px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:14px;
  width:8px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4003_img.mouseOver {
}
#u4003.mouseOver {
}
#u4003_img.selected {
}
#u4003.selected {
}
#u4003_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4004 {
  position:absolute;
  left:2px;
  top:489px;
}
#u4004_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:174px;
  height:161px;
  background-image:none;
}
#u4004_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:41px;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
  color:#353535;
  text-align:left;
}
#u4006_img.selected {
}
#u4006.selected {
}
#u4006_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
#u4007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:17px;
  width:9px;
  height:7px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4007_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:14px;
  width:8px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4008_img.mouseOver {
}
#u4008.mouseOver {
}
#u4008_img.selected {
}
#u4008.selected {
}
#u4008_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:31px;
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:173px;
  height:30px;
  color:#353535;
  text-align:left;
}
#u4009_img.mouseOver {
}
#u4009.mouseOver {
}
#u4009_img.selected {
}
#u4009.selected {
}
#u4009_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u4010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:31px;
}
#u4010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:173px;
  height:30px;
  color:#353535;
  text-align:left;
}
#u4010_img.mouseOver {
}
#u4010.mouseOver {
}
#u4010_img.selected {
}
#u4010.selected {
}
#u4010_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u4011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:31px;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:173px;
  height:30px;
  color:#353535;
  text-align:left;
}
#u4011_img.mouseOver {
}
#u4011.mouseOver {
}
#u4011_img.selected {
}
#u4011.selected {
}
#u4011_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u4012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:31px;
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:173px;
  height:30px;
  color:#353535;
  text-align:left;
}
#u4012_img.mouseOver {
}
#u4012.mouseOver {
}
#u4012_img.selected {
}
#u4012.selected {
}
#u4012_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u4004_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:174px;
  height:41px;
  visibility:hidden;
  background-image:none;
}
#u4004_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4013 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:41px;
}
#u4015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
  color:#353535;
  text-align:left;
}
#u4015_img.selected {
}
#u4015.selected {
}
#u4015_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
#u4016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u4016 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:17px;
  width:9px;
  height:7px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4016_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u4017 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:14px;
  width:8px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4017_img.mouseOver {
}
#u4017.mouseOver {
}
#u4017_img.selected {
}
#u4017.selected {
}
#u4017_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4019 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:190px;
  width:138px;
  height:16px;
}
#u4019_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4019_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u4020 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:71px;
  width:11px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u4020_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u4021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u4021 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:71px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u4021_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4022 {
  position:absolute;
  left:191px;
  top:121px;
  visibility:hidden;
}
#u4022_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1109px;
  height:879px;
  background-image:none;
}
#u4022_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1109px;
  height:879px;
}
#u4023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1108px;
  height:878px;
}
#u4023_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:298px;
}
#u4025 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:221px;
  width:279px;
  height:297px;
}
#u4025_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u4026 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:266px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4026_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:39px;
}
#u4027 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:428px;
  width:102px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4027_img.mouseOver {
}
#u4027.mouseOver {
}
#u4027_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u4028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:39px;
}
#u4028 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:428px;
  width:102px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4028_img.mouseOver {
}
#u4028.mouseOver {
}
#u4028_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u4029 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:342px;
  width:213px;
  height:25px;
}
#u4029_input {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4031 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:190px;
  width:138px;
  height:16px;
}
#u4031_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4031_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4033 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:190px;
  width:138px;
  height:16px;
}
#u4033_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4033_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4035 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:190px;
  width:138px;
  height:16px;
}
#u4035_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4035_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4037 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:190px;
  width:138px;
  height:16px;
}
#u4037_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4037_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4039 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:244px;
  width:138px;
  height:16px;
}
#u4039_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4039_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4041 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:244px;
  width:138px;
  height:16px;
}
#u4041_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4041_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4043 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:244px;
  width:138px;
  height:16px;
}
#u4043_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4043_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4045 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:244px;
  width:138px;
  height:16px;
}
#u4045_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4045_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4046 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4047 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:244px;
  width:138px;
  height:16px;
}
#u4047_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4047_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4049 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:310px;
  width:138px;
  height:16px;
}
#u4049_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4049_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4051 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:310px;
  width:152px;
  height:16px;
}
#u4051_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u4051_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4053 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:310px;
  width:138px;
  height:16px;
}
#u4053_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4053_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4055 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:310px;
  width:138px;
  height:16px;
}
#u4055_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4055_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4057 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:310px;
  width:138px;
  height:16px;
}
#u4057_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4057_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
