body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1319px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1309px;
  height:806px;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:1309px;
  height:806px;
}
#u380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1253px;
  height:695px;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:78px;
  width:1252px;
  height:694px;
}
#u381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:46px;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:475px;
  width:212px;
  height:45px;
}
#u383_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:479px;
  width:179px;
  height:37px;
}
#u384_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:37px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:47px;
  width:1310px;
  height:3px;
  overflow:hidden;
}
#u385_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:3px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.2);
  background-image:none;
}
#u385_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:1310px;
  height:49px;
  overflow:hidden;
}
#u386_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:49px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 153, 204, 1);
  background-image:none;
}
#u386_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u386_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:49px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(52, 152, 219, 1);
  background-image:none;
}
#u386_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u386_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:49px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(237, 110, 77, 1);
  background-image:none;
}
#u386_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u386_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:49px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(250, 187, 61, 1);
  background-image:none;
}
#u386_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u386_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:49px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 122, 179, 1);
  background-image:none;
}
#u386_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u386_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:49px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(154, 208, 185, 1);
  background-image:none;
}
#u386_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u386_state6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:49px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(234, 148, 190, 1);
  background-image:none;
}
#u386_state6_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u386_state7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:49px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(193, 55, 74, 1);
  background-image:none;
}
#u386_state7_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:47px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:1px;
  width:177px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u387_img.selected {
}
#u387.selected {
}
#u387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:177px;
  word-wrap:break-word;
}
#u388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:48px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:0px;
  width:97px;
  height:47px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u388_img.mouseOver {
}
#u388.mouseOver {
}
#u388_img.selected {
}
#u388.selected {
}
#u388_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:93px;
  word-wrap:break-word;
}
#u389_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:57px;
  height:57px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:7px;
  width:37px;
  height:37px;
}
#u389_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:557px;
  width:80px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u390_img.mouseOver {
}
#u390.mouseOver {
}
#u390_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:564px;
  width:65px;
  height:16px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:16px;
  text-decoration:underline;
  color:#330066;
}
#u391_img.mouseOver {
}
#u391.mouseOver {
}
#u391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:94px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:232px;
  width:297px;
  height:83px;
  font-family:'华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:38px;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:558px;
  width:296px;
  height:37px;
  font-size:18px;
  color:#993333;
  text-align:left;
}
#u393_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:292px;
  word-wrap:break-word;
}
#u394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:46px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:475px;
  width:116px;
  height:45px;
  font-size:16px;
  color:#FFFFFF;
}
#u394_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:112px;
  word-wrap:break-word;
}
#u395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:46px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:411px;
  width:447px;
  height:45px;
}
#u395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:38px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:479px;
  width:94px;
  height:38px;
}
#u396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:46px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:345px;
  width:447px;
  height:45px;
  color:#FFFFFF;
}
#u398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:348px;
  width:364px;
  height:37px;
}
#u399_input {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:37px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u400_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:48px;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:345px;
  width:3px;
  height:45px;
  color:#FFFFFF;
}
#u400_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u401_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:48px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:411px;
  width:3px;
  height:45px;
  color:#FFFFFF;
}
#u401_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:415px;
  width:364px;
  height:37px;
}
#u402_input {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:37px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u403_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:26px;
  height:32px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:420px;
  width:23px;
  height:29px;
  color:#FFFFFF;
}
#u403_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u404_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:26px;
  height:31px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:354px;
  width:23px;
  height:28px;
}
#u404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:483px;
  width:79px;
  height:32px;
  font-size:26px;
  color:rgba(51, 51, 51, 0.658823529411765);
}
#u405_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:532px;
  width:86px;
  height:16px;
  color:#FFFFFF;
}
#u406_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u406_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:532px;
  width:88px;
  height:16px;
  color:#FFFFFF;
}
#u407_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u407_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
